<div class="row">
    <div class="col-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">Ativo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Desativado</a>
            </li>
        </ul>
    </div>
    <div class="col-9">
        <p class="footer-website">
            Copyright - todos os direitos reservados | 
            Desenvolvido por fulano de tal
        </p>
    </div>
</div>