{% extends "website/base.html" %}
{% load static %}

{% block main %}
    <div class="row row-space">
        <div class="col-8">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Commodi, quaerat, eius fugit laboriosam, eligendi 
            aspernatur sed repudiandae consequatur optio quas laborum 
            delectus animi. Enim cumque, fuga consequuntur iusto 
            laboriosam voluptas!
        </div>
        <div class="col-4">
            <img src="{% static 'img/park.png' %}" alt="" width="200">
        </div>
    </div>
    <div class="row row-space">
        <div class="col-8">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Commodi, quaerat, eius fugit laboriosam, eligendi 
            aspernatur sed repudiandae consequatur optio quas laborum 
            delectus animi. Enim cumque, fuga consequuntur iusto 
            laboriosam voluptas!
        </div>
        <div class="col-4">
            <img src="{% static 'img/park.png' %}" alt="" width="200">
        </div>
    </div>
{% endblock main %}