{% extends "website/base.html" %}
{% load static %}

{% block main %}
    <div class="row row-space">
        <div class="col-12">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            At voluptas, ratione laboriosam laudantium libero suscipit 
            repellendus ipsa impedit ullam molestiae quis nesciunt 
            ipsam possimus asperiores accusantium corrupti omnis 
            saepe quidem!
            Itaque ullam non, veniam laboriosam sunt quae dolore, 
            quis doloremque accusamus mollitia esse recusandae excepturi 
            commodi. Quod blanditiis saepe ut harum, totam iusto, omnis, 
            libero fuga hic mollitia ex praesentium.
            Odio atque magnam dicta, fugit, expedita dolores possimus 
            quasi ex aliquid dolorem repellendus assumenda enim officia. 
            Repellendus provident cumque, voluptas alias at, ullam nemo 
            ipsam, molestias dolorum nesciunt libero accusamus.
            At saepe ratione dicta rerum sunt tenetur ipsam mollitia 
            minus, asperiores quia consequatur! Saepe, dignissimos 
            consectetur. Ad earum laborum odio accusantium cum quaerat, 
            debitis adipisci labore soluta asperiores dolorum voluptates.
        </div>
    </div>
    <div class="row row-space">
        <div class="col-6">
            <img src="{% static 'img/park.png' %}" alt="">
        </div>
        <div class="col-6">
            <img src="{% static 'img/park.png' %}" alt="">
        </div>
    </div>
{% endblock main %}