{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <div class="row">
        <div class="col">
            <h2>Atualizando movimentos rotativos: {{ mov_rotativo }} </h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <form 
                action="{% url 'core_movrotativos_update' mov_rotativo.id %}"
                method="post">
                {% csrf_token %}
                {{ form|bootstrap }}

                <button class="btn btn-primary" type="submit">Salvar</button>
                <a 
                    href="{% url 'core_delete_movrot' mov_rotativo.id %}"
                    class="btn btn-danger">
                    Deletar
                </a>
            </form>
        </div>
    </div>
{% endblock main %}